<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/layout}" lang="en"
        th:with="activeMenuItem='myBooks'">
<head>
    <title> Books</title>
</head>

<body>
<div layout:fragment="page-content">
    <div th:replace="~{fragments/titles :: title-with-button(#{books.headTitle}, 'book-add', #{books.create}, @{/myBooks/create})}"></div>
    <div class="max-w-7xl mx-auto px-4 sm:px-6 md:px-8">
        <div class="py-4">
            <div class="flex flex-col">
                <div class="-my-2 py-2 overflow-x-auto sm:-mx-6 sm:px-6lg:-mx-8 lg:px-8">

                    <div class="align-middle inline-block min-w-full shadow overflow-hidden rounded-md sm:rounded-lg border-b border-gray-200">
                        <table class="min-w-full">
                            <thead>
                            <tr>
                                <th th:replace="~{fragments/table :: header(title=#{books.title})}"></th>
                                <th th:replace="~{fragments/table :: header(title=#{books.author},hideOnMobile=true)}"></th>
                                <th th:replace="~{fragments/table :: header(title=#{books.language},hideOnMobile=true)}"></th>
                                <th th:replace="~{fragments/table :: header(title=#{books.ageRating},hideOnMobile=true)}"></th>
                                <th th:replace="~{fragments/table :: header('')}"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="bg-white" th:each="book : ${books}">
                                <td th:replace="~{fragments/table :: data(contents=${book.title.asString()})}"></td>
                                <td th:replace="~{fragments/table :: data(contents=${book.author.asString()},hideOnMobile=true)}"></td>
                                <td th:replace="~{fragments/table :: data(contents=${book.language},hideOnMobile=true)}"></td>
                                <td th:replace="~{fragments/table :: data(contents=${book.ageRating},hideOnMobile=true)}"></td>
                                <td th:replace="~{fragments/table :: dataWithLink(#{books.edit}, @{'/myBooks/'+ ${book.id.asString()}})}"></td>
                            </tr>
                            </tbody>
                        </table>
                       <div th:replace="~{fragments/pagination :: controls(page=${books})}"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
